/**
 * Chrome Extension Twitter Bootstrap 3 Template
 * Custom CSS
 *
 */

body, section {			/* Change width and height to own preferences */
	width: 350px;
	/*height: 400px;*/
	overflow-x: hidden;
}

/* Basic style tweaks */
section { padding: 5px;}
.navbar { margin-bottom: 2px; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }
