BODY {font-family:Arial; font-size:12pt;}
TD, INPUT, SELECT, TEXTAREA  {
	font-family:Arial;
	font-size: 10pt;
	color: #000000;
}
INPUT[type="text",type="password"], SELECT{height:24px; padding:0; margin:0;}
TABLE, TD, TR, TH, DIV, SPAN {padding:0; margin:0;}
TH {font-family:Arial; font-size:11pt; color: #ffffff }
LI{color : #414141}

a{  text-decoration: none; color: black;}
a:link{  text-decoration: underline; color: #666633}
a:visited {  text-decoration: underline; color: #999999}

.none{text-decoration: none; border:none;}
.bold { font-weight:bold;}

.auth_Heading_ch {
 font-family: Arial;
 font-size: 13pt;
 color: #990000;
 font-weight: normal;
 font-style: normal;
}

.auth_Heading_en {
 font-family: Arial;
 font-size: 13pt;
 color: #990000;
 font-weight: bold;
 font-style : italic;
}

.auth_TxtL_ch {
 font-family: Arial;
 font-size: 10pt;
 color: #ffffff;
 font-weight: normal;
 text-decoration: underline;
}

.auth_TxtL_en {
 font-family: Arial;
 font-size: 8pt;
 color: #ffffff;
 font-weight: normal;
 text-decoration: underline;
}

.auth_Txtlabel_ch {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

.auth_Txtlabel_en {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.auth_TxtMain_ch {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

.auth_TxtMain_en {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}

.auth_TxtLfp_ch {
 font-family: Arial;
 font-size: 9pt;
 color: #cc0000;
 font-weight: normal;
 text-decoration: underline;
}

.auth_TxtLfp_en {
 font-family: Arial;
 font-size: 8pt;
 color: #cc0000;
 font-weight: bold;
 text-decoration: underline;
}

.auth_TxtS_ch {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.auth_TxtS_en {
	font-family: Arial;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}

.auth_TxtLN_ch {
 font-family: Arial;
 font-size: 9pt;
 font-weight: normal;
}

.auth_TxtLN_en {
 font-family: Arial;
 font-size: 8pt;
 font-weight: normal;
}

.auth_TxtLhd_ch {
 font-family: Arial;
 font-weight: normal;
 color: #ffffff;
 font-size: 9pt;
}

.auth_TxtLhd_en {
 font-family: Arial;
 font-weight: bold;
 color: #ffffff;
 font-size: 8pt;
}

.auth_Error_ch {
 font-family: Arial;
 font-weight: normal;
 color: #ff0000;
 font-size: 9pt;
}

.auth_Error_en {
 font-family: Arial;
 font-weight: bold;
 color: #ff0000;
 font-size: 8pt;
}

.auth_copyright_en
{
 font-family: Arial;
 font-size: 8pt;
 color: #000000;
 font-weight: normal;
}

.auth_copyright_ch
{
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 font-weight: normal;
}